
body{
    	background-color: #1d1e1e;
    }
    @font-face {
    	font-family: "lemonism DEMO"
    	src: url( "fonts/lemonismDEMO");

    }
	header{
		background:url(../images/backgroundimage.jpg) no-repeat;
		background-size: cover;
		width: 100%;
		height: auto;
		background-size: cover;
		text-align: center;
	}
	.article1{
		width: 300px;
		float: left;
	}
	.firsth2{
		 color: #fcad1a;
		 font-family: "lemonism DEMO";
		 font-size: 24px;
	}
	.p1{
		color: white;
		font-family: helvetica;
	}
	.article2{
		float: right;
		width: 300px;
	}
	.secondh2{
		color: #fcad1a;
		font-family: "lemonism DEMO";
		font-size: 24px;
	}
	.p2{
		color: white;
		font-family: helvetica;
	}


	#nav{
		background-color: #4d89a0;
		padding: 10px;
		margin: 10px;
		font-family: montserrat semibold;
		}
	#ul{
		color: white;
		display: inline;
	}	
	a:link{
		color: white;
		text-decoration: none;
	}
	.li1{
		display: inline;
	}
	.li2{
		display: inline;
	}
	.li3{
		display: inline;
	}
	#section{
		background-color: white;
	}
	h2{
		color: #fcad1a;
		font-family: lemonism DEMO;
	}

	#footer{
		clear: both;
		color: white;
		font-family: montserrat semibold;
		text-align: center;
	}
	.p3{
		clear: both;
	}
